<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Forcebook</title>
</head>
<body>
    <h1>Login</h1>
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Entrar a Forcebook</button>
    </form>
</body>
</html>