<!DOCTYPE html>
<html>
<head>
    <title>Muro de {{ user.first.name }} {{user.last.name }}</title>
</head>
<body>
    <h1>Muro de {{ user.first.name }} {{user.last.name }}</h1>

    {% if logged_user.is_authenticated %}
        <a href="/logout">Salir de Facebook</a>
    {% endif %}

    {% if messages|length == 0 %}
        <strong> No hay mensajes.</strong>
    {% else %}
        <url>
            {% for message in messages %}
                <li> {{ message.message }}</li>
            {% endfor %}
        </url>
    {% endif %}

    {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li style='color:red'>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <textarea name="message_text" cols="100" rows="10"></textarea>
        <br>
        <button type="submit">Enviar mensaje al muro</button>
    </form>

</body>
</html>