<!DOCTYPE html>
<html>
<head>
    <title>Planets</title>
</head>
<body>
    <h1>Planets</h1>
    {% if planets|length == 0 %}
        <strong>No hay planetas en la base de datos</strong>
    {% else %}
        <url>
            {% for planet in planets %}
                <li>{{ planet.name }}</li>
            {% endfor %}
        </url>
    {% endif %}

</body>
</html>